@import "_mixins-project-5";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include body-style;
}

a {
  text-decoration: none;
}

.header-container {
  @include header-container;

  &__my-gitHub {
    @include gh-icon;
  }

  &__project-name {
    @include project-name;
  }
}

.main-container {
  @include main-container-style;

  &__project-description {
    @include project-description;
  }

  .gallery {
    @include gallery;

    &__smallImage {
      @include small_image;
    }

    &__smallImage:hover {
      transform : scale(0.9);
      transition: 0.5s;
    }
  }

  .modal {
    @include modal;

    &__close-btn {
      @include closeButton;
    }

    &__close-btn:hover,
    &__close-btn:focus {
      color : #e61a1a;
      cursor: pointer;
    }

    .fullscreenImg {
      @include fullscreen_image;
    }

    &__prevBtn,
    &__nextBtn {
      @include prev-nextBtn;
    }

    &__nextBtn {
      @include nextBtn;
    }

    &__prevBtn:hover,
    &__nextBtn:hover {
      background-color: #998181cc;
    }
  }
}


.footer {
  @include footer;

  &__copyright {
    @include footer-copyright;
  }
}