@import "_mixins-project-5";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include body-style;
}

a {
  text-decoration: none;
}

.header-container {
  @include header-container;

  &__my-gitHub {
    @include gh-icon;
  }

  &__project-name {
    @include project-name;
  }
}

.main-container {
  @include main-container-style;

  &__project-description {
    @include project-description;
  }

  .gallery {
    @include gallery;

    .lightbox {
      @include lightbox;
    }

    .lightbox.active {
      @include lightbox_active;
    }

    .lightbox img {
      @include lightbox_img;
    }

    &__smallImage {
      @include small_image;
    }

    &__smallImage:hover {
      transform : scale(0.9);
      transition: 0.5s;
    }
  }
}

.footer {
  @include footer;

  &__copyright {
    @include footer-copyright;
  }
}